@page "/login"
@inject IAuthenticationService authenticationService
@inject NavigationManager navigationManager
<h3>Login</h3>

<LoginForm RequestLoginAsync="@OnLogin" />

@code {
    private async Task<WebApiResult<string>> OnLogin(LoginModel lm)
    {
        var result = await authenticationService.LoginAsync<LoginModel>(lm);
        if (result.Success)
        {
            navigationManager.NavigateTo("/");
        }
        return result;
    }
}
